.web-st {
  background: #ffffff;
  font-family: Roboto, Raleway;
  color: black;
  font-size: 14px;
  width: 1600px;
  /* height: 1880px; */
  display: flex;
  align-content: center;
}

.efectiv {
  color: white;
  background-color: #2f303a;
  line-height: 1.36;
  height: 600px;
  width: 1600px;
}

.header-under-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  margin: 200px;
}

.image-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
}

.foot-st {
  background: #2f303a;
}

.list-style {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.global-list-img{
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: black;
  line-height: 1.143;
}

.link-footer {
  text-decoration: none;
  color: #ffffff;
  opacity: 60%;
  line-height: 1.71;
}

.web {
  text-decoration: none;
  color: blue;
}

.work-list-img {
  width: 370px;
  height: 294px;
}

.employee-list-img {
  width: 270px;
  height: 260px;
}

.menu-button {
  background-color: blue;
}

ul > li > figure > figcaption > .img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.text {
  font-size: 16px;
  color: #757575;
}

ul > li > figure > figcaption > .text {
  font-size: 16px;
  color: #757575;
  line-height: 1.88;
}

.buttons {
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.buttons-line {
  line-height: 1.62;
}

.web:hover,
.web:focus,
.link:hover,
.link:focus,
.link-footer:hover,
.link-footer:focus,
.buttons:hover,
.buttons:focus {
  color: rgb(167, 0, 0);
  opacity: 100%;
}

.link-footer-adres {
  opacity: 100%;
}

.logo {
  font-size: 26px;
  font-family: Raleway;
  line-height: 1.192;
}

.lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}

.lorem-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
}

.container{
  width: 1200px;
  margin: 0 0 0 200px;
  box-sizing: content-box;
  padding: 15px;
}

ul>li>figure>.portfolio-windows{
  width: 370px;
  padding: 0;
  margin: 0;
}

ul>li:not(:last-child)>img.work-list-img{
  margin-right: 30px;
}

.head-cont{
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  border: 1px solid #ECECEC;
}

a.web.logo{
  width: 145px;
}

nav.navigation{
  width: 347px;
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}

p.kontakt{
  width: 693px;
  display: flex;
  justify-content: space-between;
  margin-left: 371px;
}