.background{
    background-color: var(--fifth-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/background/background_mobile1x.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    background-size: cover;
    justify-content: center;
}

.background-column {
    flex-direction: column;
    text-align: center;
    width: 366px;
    padding: 118px 0;
}

.background-column__header {
    margin: 0 auto;
    color: var(--third-color);
    line-height: 1.615;
    max-width: 100%;
    font-size: 26px;
    padding-bottom: 30px;
    letter-spacing: 0.06em;
    font-weight: 900;
}

.buttons {
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    width: 200px;
    color: var(--third-color);
    background-color: var(--secondary-color);
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-weight: 700;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    .background {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/background/background_mobile@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .background {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/background/background_tablet1x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .background {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/background/background_tablet@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .background {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/background/background_desktop1x.jpg");
    }

    .background-column{
        padding: 200px 0;
        width: 100%;

        &__header{
            font-size: 44px;
            line-height: 1.364;
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
    .background {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/background/background_desktop@2x.jpg");
    }
}

/*.background {
    background-color: var(--fifth-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/bg_head.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.background-column {
    flex-direction: column;
    text-align: center;
}

.background-column__header {
    margin: 0;
    color: var(--third-color);
    line-height: 1.36;
    width: 696px;
    font-size: 44px;
    padding-top: 200px;
}

.buttons {
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    width: 200px;
    color: var(--third-color);
    background-color: var(--secondary-color);
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.buttons:hover,
.buttons:focus {
    color: var(--secondary-color);
    opacity: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.background-column__button {
    margin-bottom: 200px;
}

.background-column__button:hover,
.background-column__button:focus {
    color: var(--four-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/