.head{
    min-width: 100%;
    align-items: center;
    border: 1px solid #ECECEC;
}

.kontakt{
    display: none;
}

.web {
    text-decoration: none;
    color: var(--secondary-color);
}

.web.logo {
    width: 134px;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-family: var(--secondary-font);
    line-height: 1.192;
}

.link {
    text-decoration: none;
    color: var(--four-color);
    line-height: 1.143;
}

.navigation {
    min-width: 254px;
    display: flex;
    justify-content: space-between;
    margin-left: 93px;
    align-items: center;
    display: none;
}

.web:hover,
.web:focus {
    color: var(--secondary-color);
    opacity: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__current1 {
    position: relative;
}

.navigation__current2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    bottom: -33px;
    left: 0;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
    .head {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    
    .navigation{
        margin-right: 101px;
        margin-left: 83px;
        display: flex;
    }

    .mail-koperta {
        margin-right: 8px;
        width: 14px;
        height: 10px;
    }
    
    .phone-call {
        margin-right: 8px;
        width: 10px;
        height: 14px;
        fill: var(--main-color);
    }

    .kontakt__nav{
        font-size: 12px;
        color: var(--main-color);
    }

    .burger-menu{
        display: none;
    }

    .kontakt{
        display: block;
        margin: 0;
    }

    .phone-kontakt{
        display: flex;
        align-items: center;
    }

    .kontakt__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--main-color);
        fill: var(--main-color);
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 10px;

        &:hover,
        &:focus {
            color: var(--secondary-color);
            fill: var(--secondary-color);
        }
    }
}

@media screen and (min-width: 1200px) {
    .web{
        line-height: 1.174;
    }

    .head {
        padding: 24px 0;
    }

    .phone-call {
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }

    .mail-koperta {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }

    .kontakt__link {
        margin: 0;
        margin-right: 30px;
    }

    .kontakt {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        margin: 0;

        &__nav{
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .navigation{
        width: 599px;
        margin-right: 345px;
    }

    .navigation__current2::after {
        bottom: -33px;
    }
}


/*.head {
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    border: 1px solid #ECECEC;
}

.web {
    text-decoration: none;
    color: var(--secondary-color);
}

.web:hover,
.web:focus{
    color: var(--secondary-color);
        opacity: 100%;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web.logo {
    width: 145px;
    display: flex;
    align-items: center;
    font-style: normal;
}

.logo {
    font-size: 26px;
    font-family: var(--secondary-font);
    line-height: 1.192;
    font-style: normal;
}

.link {
    text-decoration: none;
    color: var(--four-color);
    line-height: 1.143;
}

.navigation {
    min-width: 254px;
    display: flex;
    justify-content: space-between;
    margin-left: 93px;
    align-items: center;
}

.navigation__current1 {
    position: relative;
}

.navigation__current2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    bottom: -32px;
    left: 0;
    border-radius: 2px;
}

.kontakt {
    width: 693px;
    display: flex;
    justify-content: flex-end;
    margin-left: 371px;
    color: var(--main-color);
}

.kontakt__link {
    padding-left: 10px;
}

.kontakt__nav {
    color: var(--main-color);
    fill: var(--main-color);
    display: flex;
    align-items: center;
}

.kontakt__nav:hover,
.kontakt__nav:focus {
    color: var(--secondary-color);
    fill: var(--secondary-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-koperta {
    margin-right: 10px;
}

.phone-kontakt {
    padding-left: 30px;
}

.phone-call {
    margin-right: 10px;
}*/