.list-style,
.team-list,
.employee-list,
.lorem-list {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul.lorem-list>li:not(:last-child),
ul.team-list>li:not(:last-child) {
    margin-bottom: 30px;
}

/*ul>li:not(:last-child) {
    margin-right: 30px;
}*/

/*.list-style,
.team-list,
.employee-list,
.lorem-list {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}*/