.port-menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 50px;
}

ul.menu-margin>li:not(:last-child) {
    margin-right: 8px;
}

.buttons-line {
    line-height: 1.62;
}

.buttons-portfolio {
    background-color: var(--seventh-color);
    color: var(--four-color);
    padding: 6px 22px 6px 22px;
    width: auto;
    box-sizing: border-box;
    box-shadow: none;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
    background-color: var(--secondary-color);
    color: var(--third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

