.section {
    padding: 94px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-style,
.team-list,
.employee-list,
.lorem-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.icons-advantages {
    padding: 25px 100px 25px 100px;
    background-color: var(--seventh-color);
    border-radius: 4px;
}

.lorem {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    margin: 0;
    padding-top: 30px;
}

.lorem-text {
    font-size: 14px;
    line-height: 1.71;
    width: 270px;
    color: var(--main-color);
    padding-top: 10px;
    margin: 0;
}

ul>li:not(:last-child) {
    margin-right: 30px;
}

.our-work {
    max-height: 294px;
}

.header-under-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    padding-bottom: 50px;
    margin: 0;
}

.text-work {
    position: relative;
}

.text-our-work {
    display: block;
    position: absolute;
    margin: 0;
    bottom: 0;
    font-weight: 700;
    color: var(--third-color);
    line-height: 1.42;
    letter-spacing: 0.03em;
    min-width: 370px;
    max-height: 70px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    text-transform: uppercase;
}

.link:hover,
.link:focus{
    color: var(--secondary-color);
    opacity: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(04, 0, 0.2, 1);
}

figure {
    margin: 0 auto;
}