:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #757575;
    --secondary-color: #2196f3;
    --third-color: #fff;
    --four-color: #212121;
    --fifth-color: #2f303a;
    --sixth-color: rgba(255, 255, 255, 0.6);
    --seventh-color: #F5F4FA;
    --eighth-color: rgba(255, 255, 255, 0.1);
    --ninth-color: #AFB1B8;
}

*::after,
::before {
    box-sizing: border-box;
}

.web-st {
    background: var(--third-color);
    font-family: var(--main-font),
        var(--secondary-font);
    color: var(--four-color);
    font-size: 14px;
    display: block;
}

.container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 15px;
        margin: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
        padding: 0 15px;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 215px;
        margin: 0;
    }
}

/*.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}*/